/* Annotation form */
.annotations-annotation__types {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.annotations-annotation__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

