{#
  annotations-explorer.html.twig
  Variables:
    nav: left-panel navigation render array
    main: main panel content render array
#}
<div class="annotations-explorer">
  <nav class="annotations-explorer__nav" aria-label="{{ 'Annotation targets'|t }}">
    <div id="annotations-explorer-nav">
      {{ nav }}
    </div>
  </nav>
  <div id="annotations-explorer-main" class="annotations-explorer__main">
    {{ main }}
  </div>
</div>
